<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J" />
        <!--打开延迟加载的开关  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--将积极加载改为消极加载及按需加载  -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--<setting name="lazyLoadTriggerMethods" value=""/>-->
    </settings>

    <!--<plugins>-->
        <!--<plugin interceptor="com.me.mybatis.plugin.ExamplePlugin">-->
            <!--<property name="someProperty" value="200" />-->
        <!--</plugin>-->
        <!--&lt;!&ndash;<plugin interceptor="com.me.mybatis.plugin.SecondExamplePlugin">&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="someProperty" value="200" />&ndash;&gt;-->
        <!--&lt;!&ndash;</plugin>&ndash;&gt;-->
    <!--</plugins>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_test?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="NewPwd@123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/TestMapper.xml"/>
    </mappers>
</configuration>